<header>
    <div class="sth sth_full">
        <div class="sth-4">
            <a href="/dash"><img src="/_dist/img/logo.svg" class="hlogo"></a>
        </div>
        <div class="sth-8 text-right">
            <i class="icons i-add" ng-click="callmodal('addwebsite')"><span>add website</span></i>
            <i class="icons i-logout" ng-click="logout()"><span>logout</span></i>
        </div>
    </div>
</header>
